body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#movie-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

#movies div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

